// Variables Partials
@use 'variables/main-colors';
@use 'variables/layout';
@use 'variables/exception-colors';
@use 'variables/map-colors';

// Generate CSS Custom Properties
@use 'variables/css-vars';
