@import 'variables';
@import 'reset';

// Layouts
@import 'layouts/customer';

// Components
@import 'components/buttons';
@import 'components/star-rating';
@import 'components/menu-item-card';

// Pages
@import 'pages/restaurant-index';
@import 'pages/restaurant-show';
@import 'pages/profile';
@import 'pages/auth';
