@use '../variables/main-colors';
@use '../variables/layout';

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: layout.$bottom-nav-height;

  background-color: main-colors.$bg-surface; // Solid white background
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden; // Clip background to rounded corners

  box-shadow: 0 -2px 10px main-colors.$shadow-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;

  @media (min-width: 1024px) {
    width: 768px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 1px solid main-colors.$bg-alt-1;
    border-right: 1px solid main-colors.$bg-alt-1;
  }
}
