.map-wrapper {
  width: 100%;
  height: 100%;
  min-height: 480px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  z-index: 1;

  :global {
    .leaflet-container {
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}
