.menu-item-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: $bg-surface;
    border: 1px solid $border-light;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;

    &.unavailable {
        background-color: $disabled-bg;
        color: $disabled-text;

        .menu-item-image {
            opacity: 0.5;
        }

        &::after {
            content: 'UNAVAILABLE';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 900;
            color: $text-inverse;
            font-size: 1.2rem;
            letter-spacing: 1px;
            text-shadow: 0 1px 2px rgba(0,0,0,0.2);
        }
    }

    .menu-item-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $bg-alt-1;
        object-fit: cover;
        margin-right: 1rem;
        flex-shrink: 0;
    }

    .menu-item-details {
        flex: 1;

        .menu-item-name {
            font-weight: 700;
            font-size: 1rem;
            margin-bottom: 0.25rem;
            color: $text-primary;
        }

        .menu-item-description {
            font-size: 0.8rem;
            color: $text-secondary;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .menu-item-price {
             font-weight: 600;
             margin-top: 0.25rem;
             color: $text-primary;
        }
    }

    .add-button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $brand-primary;
        color: $text-inverse;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        margin-left: 1rem;
        font-size: 1.2rem;

        &:hover {
            background-color: $brand-primary-hover;
        }
    }
}
