@use '../variables/main-colors';

.star-rating {
  display: flex;
  gap: 2px;

  .star {
    color: main-colors.$border-light;
    font-size: 1rem;

    &.filled {
      color: main-colors.$accent-warm;
    }
  }
}
