@use '../variables/main-colors';

.toggle-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &.toggle-disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.toggle-label {
  margin-right: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: main-colors.$text-primary;
}

.toggle-switch-wrapper {
  position: relative;
  width: 3rem;
  height: 1.5rem;
}

.toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .toggle-slider {
    background-color: main-colors.$brand-primary;

    &:before {
      transform: translateX(1.5rem);
    }
  }

  &:focus + .toggle-slider {
    box-shadow: 0 0 1px main-colors.$brand-primary;
  }
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: main-colors.$bg-alt-1;
  transition: 0.4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: '';
    height: 1.1rem;
    width: 1.1rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
}
