@use '../variables/main-colors';

.map-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 80px; // Space for bottom nav
  background-color: main-colors.$bg-surface;

  .main-content {
    flex: 1;
  }
}
